nav_color = rgb(150, 182, 93)
creme = rgb(223, 201, 196)

.top-bar
  background nav_color

.fi-megaphone
  color creme
  font-size 30px

.fi-info
  font-size 30px
  color creme
  text-decoration none
  vertical-align middle

a
  text-decoration none
  color creme
  &:hover
    color creme

ul
  list-style none

li
  text-decoration none
  display inline-block
