light_blue = rgb(72, 137, 179)
light_yellow = rgb(242, 236, 154)
bg = url("../img/bg.png")

body
  //background bg
  background-size cover
  background-position center

section
  height 100%
  display block
  background bg
  background-size cover
  background-position center
  background-repeat no-repeat

footer
  color white

.megaphone-small
  float left
  font-size 45px
  color white
  margin-left 25px
  margin-top 10px

.fi-info
  font-size 45px
  margin-right 25px
  margin-top 10px
  color white
  float right

.logo
  text-align center
  color white
  font-size 14px

.megaphone-large
  font-size 250px

desc
  margin-top -40px

@media (min-width: 500px)
  .logo
    margin-top 120px
    font-size 23px

  .fa-angle-double-down
    margin-top 220px
