{% extends 'base.html' %}


{% block title %} {{ title }} {% endblock %}
{% block css%}
  <link rel="stylesheet" href="{{ url_for('static', filename='stylus/index.css') }}"/>
{% endblock %}

{% block body %}
  <section>
    <a href='/'>
      <i class="fi-megaphone megaphone-small"></i>
    </a>
    <a href="/about/">
      <i class="fi-info"></i> &nbsp;
    </a>
    <div class="logo">
      <div class="logo_container">
        <i class="fi-megaphone megaphone-large"></i>
        <p class="desc"> A interesting description about our incredibly awesome civic hack that will be hosted on linode to get us Galaxy tablets and iPads</p>
        <p> Made by a team of extraordinarily adept individuals with unimaginable programming talent and good looks </p>
        <p> Oh yea, we're educating the USA, one passionate individual at a time </p>
      </div>
      <i class="fa fa-angle-double-down fa-2x"></i>
    </div>
  </section>
  
  <!--<i class="fa fa-angle-double-down fa-2x"></i>-->


{% endblock %}
